/vendor/
composer.lock
.env
.env.local
.env.*.local
/config/settings.ini
settings.ini
./setting.ini

!.env.example


*.log
/logs/
/tmp/


/uploads/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
desktop.ini
._*
.Spotlight-V100
.Trashes
