* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1CA103;
    display: flex;
    height: 150px;
    justify-content: space-around;
}

header img {
    width: 120px;
    border-radius: 50px;
    height: 100px;
}